# Virtual Environment
venv/

# Python Cache
__pycache__/
*.py[cod]

# Database
db.sqlite3

# Environment Variables
.env

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log
# to run python manage.py runserver