# Virtual Environment
venv/

# Python Cache
__pycache__/
*.py[cod]

# Database
db.sqlite3

# Environment Variables
.env

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log
# to run python manage.py runserver
# Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ0b2tlbl90eXBlIjoiYWNjZXNzIiwiZXhwIjoxNzgyNjMwMDkzLCJpYXQiOjE3ODI1NDM2OTMsImp0aSI6ImUwYTBkYjEzZDNiZTRiZTViM2IwODRmNjU2NzA5ZmE2IiwidXNlcl9pZCI6IjEifQ.JuZRRgj88hIybszayv1XpdHoGfQ17znzhlhys9_ydas
#Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ0b2tlbl90eXBlIjoiYWNjZXNzIiwiZXhwIjoxNzgzMTg3MjIyLCJpYXQiOjE3ODMxMDA4MjIsImp0aSI6IjMwMzE1OTJkYmYzMzQ0NWRhZjE3NTkzMWE2OGJhZDljIiwidXNlcl9pZCI6IjIifQ.ZO5FiccUYgCS915TDRP8Z5xgBzZlKCMojiV0OKLC6I0