# Virtual Environment
venv/

# Python Cache
__pycache__/
*.py[cod]

# Database
db.sqlite3

# Environment Variables
.env

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log
# to run python manage.py runserver
# Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ0b2tlbl90eXBlIjoiYWNjZXNzIiwiZXhwIjoxNzgyNjMwMDkzLCJpYXQiOjE3ODI1NDM2OTMsImp0aSI6ImUwYTBkYjEzZDNiZTRiZTViM2IwODRmNjU2NzA5ZmE2IiwidXNlcl9pZCI6IjEifQ.JuZRRgj88hIybszayv1XpdHoGfQ17znzhlhys9_ydas
#Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ0b2tlbl90eXBlIjoiYWNjZXNzIiwiZXhwIjoxNzgyNjcwMjU3LCJpYXQiOjE3ODI1ODM4NTcsImp0aSI6IjU3MzIxMDdmYmNhMDRhMDBiYWY1ZjkzNWY2NDNiMjQwIiwidXNlcl9pZCI6IjIifQ.47FTsbXbjhJ_1oMeFqG-aEYqGDsyBAK8OM8_vNNYyZc